<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:sharedUserId="com.wanghaus.remembeer"
      android:versionCode="12"
      android:versionName="1.0.2" package="com.wanghaus.remembeer">
    <application android:icon="@drawable/beer_and_scroll" android:label="@string/app_name">
        <activity android:name=".activity.AddBeer"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

		<activity android:name=".activity.AddBeerDone"
			android:theme="@android:style/Theme.Dialog"></activity>
		<activity android:name=".activity.Stats"></activity>
		<activity android:name=".activity.History"></activity>
		<activity android:name=".activity.ImportExport"
		        android:theme="@android:style/Theme.Dialog"></activity>
		<activity android:name=".activity.Config"></activity>
		<activity android:name=".activity.ConfigureTwitter"
			android:theme="@android:style/Theme.Dialog"></activity>

    	<service android:name=".service.NotifyService"></service>
	</application>
    <uses-sdk android:minSdkVersion="3" />

	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>
</manifest> 
