<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	android:sharedUserId="com.wanghaus.remembeer"
	android:versionCode="48"
	android:versionName="1.2.2"
	package="com.wanghaus.remembeer">
	<application
		android:icon="@drawable/beer_and_scroll"
		android:label="@string/app_name">
		
		<activity
			android:name=".activity.AddBeer"
			android:label="@string/app_name">
		</activity>

		<activity
			android:name=".activity.AddBeerDone"
			android:theme="@android:style/Theme.Dialog"></activity>
			
		<activity
			android:name=".activity.BeerInfo"
			android:theme="@android:style/Theme.Dialog"></activity>

		<activity
			android:name=".activity.Config"></activity>
			
		<activity
			android:name=".activity.ConfigureTwitter"
			android:theme="@android:style/Theme.Dialog"></activity>
		<activity
			android:name=".activity.ConfigureWebService"
			android:theme="@style/WorkaroundDialog"></activity>
		<activity
			android:name=".activity.PublishToWebService"
			android:theme="@style/WorkaroundDialog"></activity>

		<activity
			android:name=".activity.History">
			<intent-filter>
				<action
					android:name="android.intent.action.MAIN" />
				<category
					android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action
					android:name="android.intent.action.SEARCH" />
				<category
					android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			<meta-data
				android:name="android.app.searchable"
				android:resource="@xml/searchable" />
		</activity>
		
		<activity
			android:name=".activity.ImportExport"
			android:theme="@android:style/Theme.Dialog"></activity>
			
		<activity
			android:name=".activity.Stats"></activity>
			
		<service
			android:name=".service.NotifyService"></service>

		<!-- AddBeer 1x1 app widget  -->
		<activity
			android:name=".widget.AddBeerAppWidgetProvider"></activity>
		<receiver
			android:name=".widget.AddBeerAppWidgetProvider">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/addbeer_appwidget_info" />
		</receiver>
	</application>
	
	<uses-sdk
		android:minSdkVersion="4" />
	<supports-screens
		android:anyDensity="true" />

	<uses-permission
		android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission
		android:name="android.permission.VIBRATE"></uses-permission>
	<uses-permission
		android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	
</manifest> 
